@page
@model _20880012_DoAn_KTLT.Pages.MatHang.MH_XoaModel
@using _20880012_DoAn_KTLT.Entities;
@{
    Layout = "_LayoutMH";
}

@if (Model.kiemtraID)
{
    <form method="POST">
        <p>Bạn có chắc chắn muốn xóa mã mặt hàng @Model.id không, việc này sẽ ảnh hưởng đến hóa đơn nhập và xuất.<br />
        Dữ liệu sẽ không thể khôi phục</p>
        <input type="submit" value="Chắc chắn XÓA" />
    </form>
}

@Model.Ketqua