@page
@model _20880012_DoAn_LTHDT.Pages.ThongketonkhoModel
@using Entities
@{
    Layout = "_LayoutTK";
}

<form method="POST">
    <label for="keyword">Nhập từ khóa: </label>
    <input type="text" name="keyword" />
    <input type="submit" value="Tìm kiếm"/>
</form>
@Model.ThongBao

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Tên loại hàng</th>
            <th>Số lượng tồn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TonkhoLH t in Model.DSloc)
        {
            <tr>
                <td>@t.TenLH</td>
                <td>@t.TonKho</td>
            </tr>
        }
    </tbody>
</table>
