@page
@model testweb.Pages.TestModel
@{
}

<form method="POST">
    <label>Nhap Phan So 1: </label><br />
    <input type="number" name="tuso1" /> / <input type="number" name="mauso1" /><br />
    <label>Nhap Phan So 2: </label><br />
    <input type="number" name="tuso2" /> / <input type="number" name="mauso2" /><br />
    <input type="submit" value="Tinh Tong" />
</form>

@*<table class="table table-striped">
    <thead>
        <tr>
            <th>Sản Phẩm</th>
            <th>Giá</th>
            <th>Năm Sản Xuất</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SanPham s in Model.DSSP)
        {
            <tr>
                <td>@s.TenSP</td>
                <td>@s.Gia</td>
                <td>@s.NamSX</td>
            </tr>
        }
    </tbody>
</table>*@

@Model.Ketqua
