@page
@model _20880012_DoAn_KTLT.Pages.LoaihangModel
@{
    Layout = "_LayoutLH";
}

<a href="./LoaiHang/MH_Timkiem" class="btn btn-primary btn-lg" role="button">Tìm kiếm Loại hàng</a>
<a href="./LoaiHang/MH_Them" class="btn btn-primary btn-lg" role="button">Thêm Loại hàng</a>