@page
@model _20880012_DoAn_KTLT.Pages.MathangModel
@{
    Layout = "_LayoutMH";
}

<a href="./MatHang/MH_Timkiem" class="btn btn-primary btn-lg" role="button">Tìm kiếm Mặt hàng</a>
<a href="./MatHang/MH_Them" class="btn btn-primary btn-lg" role="button">Thêm Mặt hàng</a>