@page
@model _20880012_DoAn_KTLT.Pages.NhaphangModel
@{
    Layout = "_LayoutNH";
}

<a href="./NhapHang/MH_Timkiem" class="btn btn-primary btn-lg" role="button">Tìm kiếm, Chỉnh sửa Hóa đơn nhập hàng</a>
<a href="./NhapHang/MH_Nhap" class="btn btn-primary btn-lg" role="button">Thêm Hóa đơn nhập hàng</a>