@page
@model _20880012_DoAn_KTLT.Pages.XuatHang.MH_XoaModel
@{
    Layout = "_LayoutXH";
}

@Model.Ketqua
@if (Model.checkid)
{
    <form method="POST">
        <input type="submit" value="Chác chắn XÓA" />
    </form>  
}

