@page
@model _20880012_DoAn_LTHDT.Pages.NhapHang.MH_XoaModel
@{
    Layout = "_LayoutNH";
}

@Model.ThongBao
@if (Model.KiemTra)
{
    <form method="POST">
        <p>Bạn chắc chắn muốn xóa hóa đơn @Model.ID, dữ liệu sẽ không thể khôi phục </p>
        <input type="submit" value="Chắc chắn XÓA" />
    </form>
}
